#view-proj-btn {
	margin-top: 30px;
	background-color: #F76859;
	border: none;
	color: white;
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 18px;
	font-weight: 200;
	padding: 5px 20px;
	border-radius: 3px;
}

#view-proj-btn:hover {
	cursor: pointer;
}