.proj-tile {
	max-width: 350px;
	width: 100%;
	margin: 0.3rem;
	background-color: #1c45db;
	position: relative;
	text-align: center;
	transition: all 0.5s ease-in-out 0s;
}

.in-vis {
	visibility: hidden;
	opacity: 0;
	transform: translateY(-50px);
}

.vis {
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}

.tile-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "maple-web", sans-serif;
}

.proj-tile a {
	display: grid;
	color: white;
	font-size: 45px;
	font-weight: bold;
	text-transform: uppercase;
}

.proj-tile img {
	width: 100%;
	transition: all 0.4s ease 0s;
}

.proj-tile img:hover {
	opacity: 0.05;
	filter: grayscale(70%);
	transition: all 0.3s ease 0s;
}

@media screen and (max-width: 582px) {
	.proj-tile a {
		font-size: 25px;
	}
}