.work-container {
	min-height: 100vh;
	padding-top: 30px;
	width: calc(100vw - 120px);
}

.work-container #header {
	text-transform: uppercase;
	font-family: "eloquent-jf-pro", serif;
	font-size: 25px;
}

.work-content {
	max-width: 1463px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}