.proj-tile {
	max-width: 350px;
	width: 100%;
	margin: 0.5rem;
	background-color: #F76859;
	position: relative;
	text-align: center;
	transition: all 0.5s ease-in-out 0s;
}

.tile-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
}

.proj-tile a {
	display: grid;
	color: white;
	font-size: 35px;
	font-weight: bold;
	text-transform: uppercase;
}

.proj-tile img {
	width: 100%;
	transition: all 0.4s ease 0s;
}

.proj-tile img:hover {
	opacity: 0;
	transition: all 0.3s ease 0s;
}

@media screen and (max-width: 851px) {
.proj-tile {
	max-width: 300px;
}
}

@media screen and (max-width: 582px) {
	.proj-tile a {
		font-size: 25px;
	}
}