footer {
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	text-align: center;
}

.link-row {
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p {
	margin: 0;
}

footer img {
	width: 16px;
}

.link-cir {
	width: 45px;
	height: 45px;
	background-color: black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 15px;
	transition: 0.2s ease all;
}

.link-cir:hover {
	background-color: #F76859;
	cursor: pointer;
}