footer {
	height: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	text-align: center;
}

footer a {
	color: black;
	margin: 0 10px;
}

footer p {
	margin: 0;
}

footer img {
	width: 35px;
}