body {
  background-color: #EFE2DA;
  margin: 0;
  font-family: 'brandon-grotesque', sans-serif;
  min-height: 100vh;
  padding: 0 60px;
  text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
	color: #F76859;
}

button:focus {
	outline: none;
}