.tool-btn {
	border: none;
	color: rgba(0,0,0,1);
	background-color: rgba(250,250,250,0.85);
	font-family: 'brandon-grotesque', sans-serif;
	font-size: 14px;
	padding: 3px 8px;
	margin: 0 5px 10px 5px;
	border-radius: 1.5px;
}