.landing-container {
	min-height: 100vh;
	display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 36px;
}

#name {
	text-transform: uppercase;
	font-family: "eloquent-jf-pro", serif;
	font-style: italic;
	font-size: 35px;
}

#scroll-down {
	font-size: 50px;
	margin: 0;
	transition: all 0.3s ease 0s;
}

#scroll-down:hover {
	cursor: pointer;
	transform: translateY(5px);
}

@media screen and (max-width: 582px) {
	.landing-container {
		font-size: 24px;
	}
	#name {
	font-size: 25px;
	}
}